body {
    margin: 0;
    padding: 0;
}

body header {
    background: #222;
    width: 100%;
    height: 128px;
}

#content {
    margin-left: 200px;
}

img.logo {
    position: absolute;
    top: 0;
    left: 0;
}
